<div class="middle-box text-center animated fadeInDown">
    <h1>500</h1>
    <h3 class="font-bold"><%= __('i18n_Internal server error') %></h3>

    <div class="error-desc">
        <p><%= __('i18n_500_server_crash') %></p>
        <br/><%= __('i18n_500_can_go_back_home') %> <br/><a href="<%= sails.getBaseUrl() %>" class="btn btn-primary m-t"><%= __('i18n_Home') %></a>
    </div>
</div>
